.seats{
    background-color:#1F2533;
    height: 74.8px;
}

row{
    height: 72px;
    background-color: #1F2533;
}
.seats-col{
    height: 35px;padding-top:15px;font-size:35px;
}
.head-col-2{
    width: 128px;
}
*{
color: white;
box-sizing: border-box;
}
.header-container{
height:64px;background-color:#333545;
}
.below-nav{
background-color:#333545;

}
.header-row-1{
height:64px;
}
.header-row-col-1{
height:64px;justify-content:center;
}
.header-img{
background-size:cover;height: 70px;width:120px;filter:brightness(120%);margin-left:100px;padding-top:25px;
padding: 1px;
}
.header-2{
height:64px;justify-content:center;padding-top:25px;
padding: 14px;
}
.input-group{
width: 540px;margin-left:200px;justify-content:start
}
.header-2col-3{
height:64px
}
.header-2-container{
height:64px;
color:white;
padding-left: 100px;
}
.header-2-container-row{
height:64px;

}
.header-2-container-row-col{
height:64px;padding-top:10px;
color: white;

}
.header-2-container-row-col-1{
height:64px;padding-top:19px;
color: white;

}
.table-2{
    opacity: 50%;
    line-height: 32px;
}
.table-1{
    line-height: 32px;
    padding-left: 329px;
    margin: -203px;
}